<ion-content>


  <ion-grid class="grid">
    <ion-row class="header-ajust">
      <ion-col size="12">
        <ion-title>ADOTE UM AMIGO</ion-title>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-img src="assets/imgs/dog-2.jpeg"></ion-img>
          <ion-card-header>
            <ion-card-title>PRETINHA</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Achado na rua com a mãe e os filhotes, 2 meses SRD, tem 5 femeas e 1 macho.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-img src="assets/imgs/dog-3.jpeg"></ion-img>
          <ion-card-header>
            
            <ion-card-title>PRETINHA</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Achado na rua com a mãe e os filhotes, 2 meses SRD, tem 5 femeas e 1 macho.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>


  <ion-footer class="footer-style">
    <ion-grid size="12">
      <ion-row>
        <ion-tabs>

          <ion-tab-bar slot="bottom">
            <ion-tab-button tab="schedule">
              <ion-icon name="help-circle-outline"></ion-icon>
              <ion-label>AJUDA</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="speakers" (click)="showModal()">
              <ion-icon name="cloud-upload-outline"></ion-icon>
              <ion-label>PUBLICAR</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="map">
              <ion-icon name="log-out-outline"></ion-icon>
              <ion-label>SAIR</ion-label>
            </ion-tab-button >

          </ion-tab-bar>
        </ion-tabs>

      </ion-row>

    </ion-grid>

  </ion-footer>



</ion-content>